{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "parser": "typescript-eslint-parser",
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "quotes": ["error", "single"]
  }
}